
div.root{
  display: flex;
  flex-direction:column;
  height: 100vh;
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 10%;
  align-items: center;
}
a{
  
  display: inline;
  margin-left:10px;
  margin-right: 5px;

}

.top a:hover{
 text-decoration: underline; 
}
a:link {
color:black;
text-decoration: none;
}

a:visited{
  color:black;
  text-decoration: none;
  
  }
  .middle .mike{
    margin-left:40% ;
    align-self: center;
  }
.mid{
  position:relative;
  height: 200px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; 

}
input{
  outline: none;
}

.bot{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  height: 10%;
  align-items: center;
}
.bot a{
  background-color:#F2F2F2 ;
  padding: 10px 16px;
  border-radius: 10%;
  
}
.middle{
  box-shadow:1px 1px 10px 1px #bdbebd;
  margin-left: 35%;
  margin-right: 35%;
  
  border-radius: 20px;
display: inline-flex;
padding: 5px;
flex-direction: row;
height: 44px;
}

.middle #input{
  margin-right: -70px;
  border: none;
  display: block;
height: 44px;
  width: 300px;
  
}
.country{

  margin-left: 3%;
}
.foot{
  box-shadow: 1px 1px 1px 1px black;
  display: block;
  width: 100%;
  line-height: 40px;
  position: absolute;
  bottom: 0;
background-color: #F2F2F2;

}
.footer{
  position: absolute;
  bottom: 0;
  display: block;
  background-color: #F2F2F2;
}
#ad{
  margin-left:2% ;

}

.foot span{

  
  color: #5F6368;
  font-family: 'Apple SD Gothic Neo',arial,sans-serif;
}

.foot a{
  color: #5F6368;
  font-family: 'Apple SD Gothic Neo',arial,sans-serif;
}
.원딜{
  box-shadow: 1px 1px 1px 1px black;
  display: flex;
  justify-content: space-between;
  align-items : center;
  width:100vw;
}